/* CSS: estilizar a página, os botões, imputs, alterar atributos dos elementos da tela de acordo com a interação do usuário para uma melhor experiência do usuário (UX). */

/* #BCD1BD */ 
/* #D8B5AB */ 
/* #EBDEBE */ 
/* #BFD5DE */ 

* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #BCD1BD; /* verde */
  font-size: 14px;
}

.barra-superior {
  border: 1.5px solid black;
  background: #D8B5AB; /* rosa */
  color: white;
  width: 100%;
}

/* logo */
.barra-superior img {
  width: 30px;
  margin: 8px;
  display: flex;
}

.barra-superior li img {
  width: 30px;
  margin: 8px;
}

.barra-superior ul {
  align-items: center;
  display: flex;
  list-style-type: none;
}

.divisao {
  border: 1.5px solid black;
  color: white;
  display: inline-flex;
  margin: 12px;
}

.divisao-esquerda img {
  width: 60px;
}

.divisao-esquerda {
  background: #BFD5DE; /* azul */
  width: 299px;
}

.divisao-central img {
  width: 60px;
}

.divisao-central {
  background: #BFD5DE; /* azul */
  width: 496px;
  display: flex;
  justify-content: space-between;
}

.divisao-central ul {
  list-style-type: none;
}

.divisao-direita {
  background:#BFD5DE; /* azul */
  width: 360px;
}

.divisao-direita img {
  width: 360px;
}

footer {
  border: 1.5px solid black;
  background: #D8B5AB;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

/* miniatura */
.rodape img {
  width: 60px;
  margin: 8px;
  display: flex;
}

.rodape li img {
  width: 30px;
  margin: 8px;
}

.rodape ul {
  align-items: center;
  display: flex;
  list-style-type: none;
}