/* CSS: estilizar a página, os botões, imputs, alterar atributos dos elementos da tela de acordo com a interação do usuário para uma melhor experiência do usuário (UX). */

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #F0EDE5;
    text-align: justify;
    color: #6BAF92;
}

h1 {
    background-color: #A8D5BA;
    text-align: center;
    color: #354F52;
    border: 2px solid #354F52;
}

h2 {
    background-color: #354F52;
    text-align: center;
    color: #F0EDE5;
    border: 2px solid #354F52;
}